@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4 {
	font-family: 'Bebas Neue';
}
.navbar {
	background: white;
	.navbar-header {
		.navbar-brand {
			float: none;
			display: block;
			color: #666;
			font-family: 'Bebas Neue';
			font-size: 44px;
			line-height: 1;
			span {
				color: #333;
			}
		}
		.navbar-toggle {
			margin-top: 20px;
			background-color: #f0f0f0;
			.icon-bar {
				background: #999;
			}
		}
	}
	.navbar-collapse {
		margin: 10px 0 0 0;
		.nav {
			.caret {
				border-top-color: #555;
				border-bottom-color: #555;
			}
			a:hover .caret {
				border-top-color: #222;
				border-bottom-color: #222;
			}
			li {
				a {
					color: #555;
					font-family: 'Roboto Slab';
					font-size: 16px;
				}
			}
		}
	}
}